{% extends 'flatpages/default.html' %} 

{% block title %} Product list {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный товар?</h2>
<table>
    <thead>
        <th>Название</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Количество</th>
    </thead>
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить">
</form>
{% endblock content %}